.hi{
    text-align: center;
    color: blue;
}
.ha{
    text-align: center;
}
.button{
  
    background-color: rgb(66, 11, 234);
    color: rgb(227, 230, 236);
}
.work{
    
    background-color: blue;
    color: aliceblue;
}
.buttonn{
    text-align: center;
}
.k{
    text-align: center;
}